/*Bold*/
@font-face {
    font-family: Gilroy-Bold;
    src: url("../fonts/font-gilroy/Gilroy-Bold.ttf");
}

/*Medium*/
@font-face {
    font-family: Gilroy-Medium;
    src: url("../fonts/font-gilroy/Gilroy-Medium.ttf");
}

/*SemiBold*/
@font-face {
    font-family: Gilroy-SemiBold;
    src: url("../fonts/font-gilroy/Gilroy-Semibold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy-Medium, serif;
}

body {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    float: left;
}

.logo__img {
    float: left;
    padding: 40px 0 0 0;
}

.logo__text {
    float: left;
    padding: 45px 0 0 14px;
}

.logo__text_grow {
    color: #000;
    font-family: Gilroy-Bold, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.logo__text_be {
    color: #F25822;
    font-family: Gilroy-Bold, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.menu {
    display: flex;
    gap: 30px;
    padding: 51px 0 0 0;
}

.menu__home {
    color: #F25822;
    font-family: Gilroy-SemiBold, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.menu__other-link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

main {
    display: flex;
    margin-top: 89px;
    max-width: 1130px;
}

.info_text__title {
    color: #000;
    font-family: Gilroy-Bold, serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
}

.info_text__sub-title {
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 17px;
    max-width: 466px;
}

.info_text__btn {
    margin-top: 37px;
    display: flex;
    justify-content: flex-start;
    gap: 72px;
    align-items: center
}

.btn {
    float: left;
    border: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.20);
}

.btn__text-in-btn {
    color: #FFF;
    font-family: Gilroy-Bold, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding: 15px 36px 16px 35px;
}

.btn__text-out-btn {
    float: none;
    color: #AAA;
    font-family: Gilroy-Bold, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.main__img {
    width: 545px;
    height: 375px;
    flex-shrink: 0;
}

footer {
    padding-top: 259px;
    display: flex;
    justify-content: center;
}

.brands-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

