@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;;
}

a {
    text-decoration: none;
}

.main_head {
    width: 100%;
    height: 75px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_head .head_left_icons {
    display: flex;
    gap: 41px;
    padding-left: 231px;
    align-items: flex-end;
}

.main_head .search {
    height: 26px;
}

.main_head .head_right_icons {
    display: flex;
    gap: 33px;
    padding-right: 240px;
    align-items: flex-end;
}

.top_banner {
    width: 100%;
    height: 764px;
    background: rgb(241, 228, 230);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_banner .img img {
    width: auto;
}

.top_banner .title {
    display: flex;
    gap: 16px;
    align-items: center;
}

.top_banner .title .rectangle {
    width: 12px;
    height: 92px;
    background: rgb(241, 109, 127);
}

.top_banner .title .text .text_main {
    font-size: 48px;
    font-weight: 900;
}

.top_banner .title .text .text_black {
    font-size: 32px;
    font-weight: 700;
}

.top_banner .title .text .text_red {
    font-size: 32px;
    font-weight: 700;
    color: rgb(241, 109, 127);
}

.catalog_banners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 65px 0 96px;
}

.catalog_banners .banner {
    position: relative;
}

.catalog_banners img {
    width: 100%;
    height: 100%;
}

.catalog_banners .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.catalog_banners .text .white_text {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.catalog_banners .text .red_text {
    font-size: 24px;
    font-weight: 700;
    color: rgb(241, 109, 127);
    white-space: nowrap;
}

.catalog_banners .big_banner {
    position: relative;
    grid-column: 1 / -1;
}

.catalog_banners .big_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.fetured_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fetured_items .text {
    display: flex;
    gap: 6px;
    flex-direction: column;
    text-align: center;
    padding-bottom: 48px;
}

.fetured_items .text .title {
    color: rgb(34, 34, 34);
    font-size: 30px;
    font-weight: 400;
}

.fetured_items .text .sub-title {
    color: rgb(159, 159, 159);
    font-size: 14px;
    font-weight: 400;
}

.fetured_items .banners {
    display: grid;
    grid-gap: 25px 30px;
    grid-template-columns: repeat(3, 1fr);
}

.fetured_items .banners .img1 {
    background: url("../img/banner1.png");
    width: 360px;
    height: 420px;
}

.fetured_items .banners .img2 {
    background: url("../img/banner2.png") center no-repeat, rgb(247, 228, 226);
    width: 360px;
    height: 420px;
}

.fetured_items .banners .img3 {
    background: url("../img/banner3.png");
    width: 360px;
    height: 420px;
}

.fetured_items .banners .img4 {
    background: url("../img/banner4.png");
    width: 360px;
    height: 420px;
}

.fetured_items .banners .img5 {
    background: url("../img/banner5.png");
    width: 360px;
    height: 420px;
}

.fetured_items .banners .img6 {
    background: url("../img/banner6.png");
    width: 360px;
    height: 420px;
}

.fetured_items .banners .text {
    padding: 24px 29px 0 16px;
}

.fetured_items .banners .text .title {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 13px;

}

.fetured_items .banners .text .sub-title {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: rgb(93, 93, 93);
    padding-bottom: 18px;
}

.fetured_items .banners .text .price {
    color: rgb(241, 109, 127);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.see_all {
    padding-top: 48px;
}

.see_all .rectangle {
    border: 1px solid rgb(255, 106, 106);
    width: 212px;
    height: 48px;
}

.see_all .rectangle .text {
    color: rgb(242, 99, 118);
    font-size: 16px;
    font-weight: 400;
    padding: 12px 39px;
    white-space: nowrap;
}

@media (min-width: 1025px) {
    .center {
        padding-left: calc(50% - 570px);
        padding-right: calc(50% - 570px);
    }

    .center2 {
        padding-left: calc(50% - 570px);
        padding-right: calc(50% - 570px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main_head .head_left_icons {
        padding-left: 32px;
    }

    .main_head .head_right_icons {
        padding-right: 41px;
    }

    .top_banner {
        height: 368px;
        justify-content: space-around;
    }

    .top_banner .img img {
        height: 368px;
    }

    .top_banner .title .text .text_main {
        font-size: 44px;
    }

    .top_banner .title .text .text_black {
        font-size: 24px;
    }

    .top_banner .title .text .text_red {
        font-size: 24px;
    }

    .catalog_banners {
        margin: 65px 17px 96px;
    }

    .center2 {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .fetured_items .banners {
        grid-gap: 17px 16px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .main_head {
        width: auto;
    }

    .main_head .head_left_icons {
        padding-left: 16px;
    }

    .main_head .head_right_icons {
        padding-right: 16px;
        flex-direction: row-reverse
    }

    .main_head .head_right_icons .user_pic {
        display: none;
    }

    .main_head .head_right_icons .cart {
        display: none;
    }

    .top_banner {
        height: 363px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .top_banner .img {
        display: none;
    }

    .catalog_banners {
        grid-template-columns: 343px;
        grid-template-rows: repeat(3, 247px);
        margin: 65px 0 64px;
    }

    .catalog_banners .big_banner {
        height: 111px;
    }

    .fetured_items .banners {
        grid-template-rows: repeat(6, 580px);
        grid-template-columns: 360px;
        gap: 17px;
    }

    .center {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }
}